<!DOCTYPE html>

<div id="container">
  <nav class="navigation">
    <ul>
      <li>
          <a href="#/stats">Stats</a>
      </li>
       <li>
          <a class="selected" href="#/update">Update</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <form name="gymbuddyForm" ng-submit="updateStats()" novalidate>
      <div>
        <input name="height" type="number" placeholder="Height In Inches" ng-model="stat.height" required/>
        <p ng-if="gymbuddyForm.height.$error.required && gymbuddyForm.height.$dirty" class="message">Height is required</p>
      </div>
      <div>
        <input name="weight" type="number" placeholder="Weight In lbs" ng-model="stat.weight" required/>
        <p ng-if="gymbuddyForm.weight.$error.required && gymbuddyForm.weight.$dirty" class="message">Weight is required</p>
      </div>
      <input class="updateButton" type="submit" value="Update" ng-disabled="gymbuddyForm.$invalid"/>
    </form>
  </div>
  </div>
