<!DOCTYPE html>

<div id="container">
  <nav class="navigation">
    <ul>
      <li>
          <a href="#/stats">Stats</a>
      </li>
       <li>
          <a class="selected" href="#/update">Update</a>
      </li>
      <li>
          <a href="#/bmi">B.M.I</a>
      </li>
      <li>
          <a href="#/bmr">B.M.R.</a>
      </li>
      <li>
          <a href="#/calNeed">Caloric Intake</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <div class="radio">
      <div>
        <input name="sex" type="radio" value="Female" ng-model="stat.sex"/>Female
        <input name="sex" type="radio" value="Male" ng-model="stat.sex"/>Male
      </div>
      <div>
        <input name="activity" type="radio" value="Sedentary" ng-model="stat.active"/>Sedentary
        <input name="activity" type="radio" value="Lightly Active" ng-model="stat.active"/>Lightly Active
        <input name="activity" type="radio" value="Moderately Active" ng-model="stat.active"/>Moderately Active
        <input name="activity" type="radio" value="Very Active" ng-model="stat.active"/>Very Active
        <input name="activity" type="radio" value="Extra Active" ng-model="stat.active"/>Extra Active
      </div>
    </div>
    <form name="gymbuddyForm" ng-submit="updateStats()" novalidate>
      <div>
        <input name="age" type="number" placeholder="Age" ng-model="stat.age" required/>
        <p ng-if="gymbuddyForm.age.$error.required && gymbuddyForm.age.$dirty" class="message">Age is required</p>
      </div>
      <div>
        <input name="height" type="number" placeholder="Height In Inches" ng-model="stat.height" required/>
        <p ng-if="gymbuddyForm.height.$error.required && gymbuddyForm.height.$dirty" class="message">Height is required</p>
      </div>
      <div>
        <input name="weight" type="number" placeholder="Weight In lbs" ng-model="stat.weight" required/>
        <p ng-if="gymbuddyForm.weight.$error.required && gymbuddyForm.weight.$dirty" class="message">Weight is required</p>
      </div>
      <input class="updateButton" type="submit" value="Update" ng-disabled="gymbuddyForm.$invalid"/>
    </form>
  </div>
  </div>
