<!DOCTYPE html>

<div id="container">
  <nav class="navigation">
    <ul>
      <li>
          <a href="#/stats">Stats</a>
      </li>
       <li>
          <a class="selected" href="#/update">Update</a>
      </li>
    </ul>
  </nav>
  <div class="creator">
    <form name="gymbuddyForm" ng-submit="updateStats()" novalidate>
      <input type="number" placeholder="Height In Inches" ng-model="stat.height">
      <input type="number" placeholder="Weight In lbs" ng-model="stat.weight">
      <button>Update Your Stats</button>
    </form>
  </div>
  </div>
